Repository stanford-oval/almond-cloud, pull requests merged in 2019-11, with the labels that each got.

#548 Expose JSDoc documentation on the website
  .gitignore
  Makefile
  doc/index.yml
  doc/jsdoc/thingengine-core.json
  doc/jsdoc/thingengine-core.md
  doc/jsdoc/thingpedia.json
  doc/jsdoc/thingpedia.md
  doc/jsdoc/thingtalk.json
  doc/jsdoc/thingtalk.md
  doc/thingpedia-helpers.md
  doc/thingpedia-tutorial-js-package.md
  package.json
  routes/doc.js
  tests/linkcheck.js
  yarn.lock
Labels: documentation, enhancement

#545 nlp/query: in MultipleChoice mode, tokenize all choices first
  nlp/query.js
  tests/nlp/index.js
Labels: bug, nlp inference

#535 Fix invalid JSON
  doc/my-api.md
Labels: bug, documentation

#554 Reduce permissions needed for Login with Github
  util/passport.js
  util/user.js
Labels: bug

#559 Fix/improve the cheatsheet
  routes/thingpedia_cheatsheet.js
  scripts/generate-cheatsheet.js
  util/dataset.js
Labels: bug

#555 Update Italian translation
  po/POTFILES
  po/POTFILES.jade
  po/it.po
Labels: i18n

#557 i18n: fix initializing gettext in the sandboxed worker
  almond/enginemanager.js
  almond/worker.js
  main.js
  util/i18n.js
Labels: i18n

#562 Fix computing the automatic name of primitive templates
  util/validation.js
Labels: bug

#563 Fix broken links
  po/it.po
  views/stanford/about_get_almond.pug
Labels: bug, content

#568 Compatibility code for device names
  nlp/compat.js
  tests/unit/test_nlp_compat.js
Labels: nlp inference

#569 Refresh our front page
  public/javascripts/index.js
  public/stylesheets/conversation.css
  public/stylesheets/index.css
  tests/test_website_selenium.js
  tests/thingpedia-integration.sh
  views/stanford/about_get_almond.pug
  views/stanford/about_index.pug
Labels: content

#570 Misc bug fixes
  data/org.thingpedia.builtin.thingengine.builtin.yaml
  routes/my_api.js
  routes/thingpedia_translate.js
  tests/thingpedia-integration.sh
  tests/training-integration.sh
  tests/training/index.js
  tests/unit/test_example_names.js
  training/synthetic-gen-process.js
  training/tasks/prepare-training-set.js
  training/training_job.js
  training/workers/generate-contextual-worker.js
  util/example_names.js
Labels: bug, thingpedia, training, web almond

#574 Allow retrieving the datasets in "edit mode"
  routes/thingpedia_api.js
  util/thingpedia-client.js
Labels: thingpedia

#584 Consistently expose the canonical form of class names
  model/schema.js
  tests/test_thingpedia_api_v3.js
  util/import_device.js
  util/validation.js
Labels: bug, thingpedia

#581 Assorted bug fixes from production
  browser/deps/intent.js
  browser/deps/reconstruct_canonical.js
  model/example.js
  package.json
  routes/mturk.js
  tests/website/test_mturk.js
  training/daemon.js
  util/dataset.js
  views/admin_training.pug
  views/mturk.pug
  views/mturk_validate.pug
Labels: bug, mturk, thingpedia, training

#585 training/update-dataset: lower consistency level of update transaction
  training/tasks/update-dataset.js
Labels: bug, training

#589 training/update-dataset: fix broken typecheck
  training/tasks/update-dataset.js
Labels: bug

#590 prepare-training-set: change how we set the eval flag
  package.json
  tests/load_test_thingpedia.js
  tests/test_thingpedia_api_v3.js
  tests/thingpedia-integration.sh
  training/tasks/prepare-training-set.js
  yarn.lock
Labels: bug, training

#597 Fix the training set flags
  scripts/bootstrap.js
  tests/thingpedia-integration.sh
  training/tasks/update-dataset.js
Labels: bug, training

#611 Fix Download CSV link for mturk batches in validation state
  views/mturk_batch_list.pug
Labels: bug, mturk

#610 Remove rotating-globe
  Makefile
  browser/deps/world-110m.json
  browser/rotating-globe.js
  package.json
  views/stanford/about_index.pug
  yarn.lock
Labels: cleanup

#608 Require login for Train Almond
  routes/developer_console.js
Labels: bug, dev_experience

#606 Fix getting Thingpedia snapshots by number
  model/schema.js
  tests/test_thingpedia_api_v3.js
Labels: bug, thingpedia

#605 Remove entity icons
  package.json
  po/POTFILES
  routes/thingpedia_api.js
  tests/test_thingpedia_api_v1_v2.js
  tests/test_thingpedia_api_v3.js
  util/cache_manager.js
  yarn.lock
Labels: cleanup, thingpedia

#619 cloud-sync: add "await" in front of RPC calls
  routes/cloud-sync.js
  routes/my_api.js
  routes/thingengine_ws.js
Labels: bug, web almond

#621 Replace Gitter chat link with Discord chat
  public/images/logo-discord.png
  public/images/logo-gitter.png
  views/stanford/about_get_involved.pug
Labels: bug, content

#620 Make developers use the developer models consistently
  almond/almond_api.js
  almond/assistant.js
  almond/enginemanager.js
  browser/deps/new-command.js
  browser/deps/parserclient.js
  browser/trainer.js
  model/migrations/8b4218a-users_undo_developer_model.sql
  nlp/query.js
  util/user.js
Labels: bug, dev_experience, nlp inference

#609 mturk: compute hints server-side, and use a link to the device page
  frontend.js
  model/device.js
  package.json
  public/javascripts/mturk_check.js
  routes/mturk.js
  views/mturk.pug
  yarn.lock
Labels: enhancement, mturk

#607 Fix sending emails to users that don't have one
  routes/user.js
  views/register_success.pug
  views/user_profile.pug
Labels: bug

#604 Some usability fixes for custom LUInet models
  routes/luinet_models.js
  routes/luinet_templates.js
  views/dev_nlp_models.pug
Labels: bug, dev_experience

#623 Accumulated bug fixes from production
  frontend.js
  util/commandpedia.js
  views/stanford/about_index.pug
Labels: bug
