Repository stanford-oval/almond-cloud, pull requests merged in 2019-05, with the labels that each got.

#295 Update documentation of Thingpedia NL support
  doc/thingpedia-nl-support.md
Labels: documentation

#296 Expand on the installation instructions
  .gitignore
  Makefile
  README.md
  almond-cloud@.service
  almond-nlp.service
  almond-website@.service
  almond/master.js
  almond/worker.js
  config.js
  doc/almond-config-file-reference.md
  doc/index.yml
  doc/installing-almond-cloud.md
  doc/my-api.md
  frontend.js
  nlp/main.js
  scripts/bootstrap.js
  scripts/build-doc-sidebar.js
  scripts/count_templates.js
  scripts/execute-sql-file.js
  scripts/gen_cheatsheet.js
  scripts/make-config-file-reference.js
  scripts/migrate_nn_dataset.js
  scripts/migrate_nn_dataset_file.js
  scripts/shard-users.js
  tests/linkcheck.js
  tests/load_test_thingpedia.js
  tests/load_test_webalmond.js
  tests/login.js
  tests/nlp/index.js
  tests/test_thingpedia_api_v1_v2.js
  tests/test_thingpedia_api_v3.js
  tests/test_website_selenium.js
  tests/thingpedia-integration.sh
  tests/unit/index.js
  tests/website/index.js
  thingengine-cloud@.service
  thingengine-website@.service
  training/daemon.js
  training/download-dataset.js
  training/update-dataset.js
  util/config_init.js
  util/db.js
  util/secret_key.js
  views/thingpedia_dev_sidebar.pug
Labels: documentation

#297 Update dependencies
  yarn.lock
Labels: cleanup

#302 Update Thingpedia's Translation support
  Makefile
  almond/enginemanager.js
  browser/deps/new-command.js
  browser/deps/search-or-infinite-scroll.js
  browser/thingpedia-device-translate.js
  browser/trainer.js
  frontend.js
  model/schema.js
  package.json
  po/POTFILES
  po/POTFILES.jade
  po/it.po
  public/download/blog-assets
  public/stylesheets/thingpedia-cheatsheet.css
  public/stylesheets/thingpedia-devices.css
  routes/thingpedia_api.js
  routes/thingpedia_devices.js
  routes/thingpedia_schemas.js
  routes/thingpedia_translate.js
  routes/thingpedia_upload.js
  routes/user.js
  tests/test_thingpedia_api_v1_v2.js
  tests/test_thingpedia_api_v3.js
  tests/thingpedia-integration.sh
  util/dataset.js
  util/db.js
  util/i18n.js
  util/import_device.js
  util/manifest_to_schema.js
  util/thingpedia-client.js
  util/validation.js
  views/friendhub.pug
  views/register.pug
  views/stanford/about_index.pug
  views/thingpedia_device_details.pug
  views/thingpedia_device_example.pug
  views/thingpedia_schema.pug
  views/thingpedia_translate_schema.pug
  views/user_profile.pug
Labels: content, i18n, thingpedia

#301 Add "remember me" option to our 2FA implementation
  frontend.js
  routes/user.js
  views/2fa_login.pug
Labels: auth, enhancement

#307 Bug fixes caught in staging
  .gitignore
  browser/deps/new-command.js
  browser/trainer.js
  model/entity.js
  model/strings.js
  package.json
  po/POTFILES
  po/POTFILES.jade
  po/it.po
  routes/thingpedia_devices.js
  routes/thingpedia_entities.js
  routes/thingpedia_strings.js
  scripts/update-po.sh
  tests/website/index.js
  tests/website/test_string_entities.js
  util/error_handling.js
  views/about_index.pug
  views/admin_portal.pug
  views/layout.pug
  views/message.pug
  views/register_success.pug
  views/stanford/about_get_involved.pug
  views/stanford/about_index.pug
  views/thingpedia_dev_sidebar.pug
  views/thingpedia_dev_train_almond.pug
  views/thingpedia_device_details.pug
  views/thingpedia_entity_list.pug
  views/thingpedia_entity_values.pug
  views/thingpedia_portal.pug
  views/thingpedia_string_type_list.pug
Labels: bug, error handling, i18n

#308 Web Almond: add a spinner next to the input when Almond is thinking
  public/javascripts/conversation.js
  public/stylesheets/conversation.css
  public/stylesheets/spinner.css
  views/my_conversation.pug
  views/my_stuff.pug
  views/stanford/about_get_almond.pug
Labels: enhancement, web almond

#300 Handle expectations correctly in NLP server
  nlp/query.js
  tests/mock-tokenizer.js
  tests/nlp/index.js
  tests/nlp/parserclient.js
Labels: bug, nlp inference

#294 Frontend classifier
  nlp/classifier.js
  nlp/python_classifier/classifier.py
  nlp/python_classifier/train_classifier.py
  nlp/python_classifier/validate_classifier.py
  nlp/query.js
  package.json
  yarn.lock
Labels: enhancement, nlp inference

#315 Fix crashing when manifest has invalid annotation
  util/validation.js
Labels: bug, error handling

#317 Contextual predictions
  .travis.yml
  almond/platform.js
  config.js
  data/org.thingpedia.builtin.bluetooth.generic.manifest.json
  data/org.thingpedia.builtin.bluetooth.generic.yaml
  data/org.thingpedia.builtin.matrix.manifest.json
  data/org.thingpedia.builtin.matrix.yaml
  data/org.thingpedia.builtin.test.manifest.json
  data/org.thingpedia.builtin.test.yaml
  data/org.thingpedia.builtin.thingengine.builtin.manifest.json
  data/org.thingpedia.builtin.thingengine.builtin.yaml
  data/org.thingpedia.builtin.thingengine.gnome.manifest.json
  data/org.thingpedia.builtin.thingengine.gnome.yaml
  data/org.thingpedia.builtin.thingengine.home.manifest.json
  data/org.thingpedia.builtin.thingengine.manifest.json
  data/org.thingpedia.builtin.thingengine.phone.manifest.json
  data/org.thingpedia.builtin.thingengine.phone.yaml
  data/org.thingpedia.builtin.thingengine.remote.manifest.json
  data/org.thingpedia.builtin.thingengine.remote.yaml
  data/org.thingpedia.builtin.thingengine.yaml
  nlp/classifier.js
  nlp/main.js
  nlp/nlp_model.js
  nlp/python_classifier/classifier.py
  nlp/python_classifier/requirements.txt
  nlp/query.js
  package.json
  scripts/bootstrap.js
  tests/data/com.bing.manifest.json
  tests/data/com.bing.yaml
  tests/data/org.thingpedia.builtin.test.adminonly.manifest.json
  tests/data/org.thingpedia.builtin.test.adminonly.yaml
  tests/data/org.thingpedia.builtin.test.invisible.manifest.json
  tests/data/org.thingpedia.builtin.test.invisible.yaml
  tests/install-nlp-deps.sh
  tests/load_test_thingpedia.js
  tests/nlp-integration.sh
  tests/nlp/index.js
  tests/nlp/parserclient.js
  tests/test_thingpedia_api_v1_v2.js
  tests/test_thingpedia_api_v3.js
  tests/test_website_selenium.js
  tests/thingpedia-integration.sh
  tests/website/test_my_api.js
  training/update-dataset.js
  util/import_device.js
  util/json_datagram_socket.js
  util/thingpedia-client.js
  yarn.lock
Labels: enhancement, nlp inference
