Repository stanford-oval/almond-cloud, pull requests merged in 2021-02, with the labels that each got.

#897 Add support for entity inheritance
  model/entity.js
  model/migrations/7c832a4-entity_subtyping.sql
  model/schema.sql
  tests/load_test_thingpedia.js
  tests/test_thingpedia_api_v3.js
  tests/thingpedia-integration.sh
  tests/website/test_string_entities.js
  util/import_device.js
  util/thingpedia-client.js
  util/validation.js
Labels: enhancement, thingpedia

#902 Add support for recording mode
  almond/engine.js
  browser/conversation.js
  frontend.js
  public/stylesheets/conversation.css
  routes/my_conversation.js
  routes/my_recording.js
  views/my_stuff.pug
Labels: enhancement, web almond

#917 Wip/conversation fixes
  browser/conversation.js
  views/my_stuff.pug
Labels: bug, web almond
